{% extends "base.html" %}

{% block title %}Detail Artefak - National Gallery Singapore{% endblock %}
{% block header_title %}Detail Artefak{% endblock %}
{% block breadcrumbs %}
<a href="/">Home</a> <span class="separator">/</span> <a href="/koleksi">Koleksi</a> <span class="separator">/</span>
<span class="current">Detail</span>
{% endblock %}


{% block content %}

<h2>Detail Artefak</h2>

<p><b>Nama:</b> {{ artefak.nama_artefak }}</p>
<p><b>Kategori:</b> {{ artefak.kategori }}</p>
<p><b>Tahun:</b> {{ artefak.tahun }}</p>
<p><b>Status:</b> {{ artefak.status }}</p>

{% endblock %}